<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title登录</title>
    <style>
        p{color: red}
    </style>
</head>
<body>
    <form action="login" method="post">
        <%if(typeof(error) !== 'undefined' && error){%>
         <p><%= error %></p>
        <% } %>
         用户名：<input type="text" name="username" ><br/>
         密码：<input type="password" name="pwd" ><br/>
        <input type="submit" value="登录">
    </form>
</body>
</html>